{{ define "main" }}

<!-- allyship -->
<section class="section-sm">
  <div class="container text-center">
    <h3 class="text-black">What is an Ally?</h3>
    <p class="text-black">Being an ally is more than being sympathetic towards those who experience discrimination. It is more than simply believing in equality. 
       <br>Being an ally means being willing to act with and for others in pursuit of ending oppression and creating equality. <br>source: opseu.org</p>
  </div>
</section>
<section>
    <div class="row">
      {{ range .Data.Pages}}
      <!-- allyship item -->
      <div class="col-lg-3 col-sm-6 mb-4">
        {{ .Render "allyship" }}</div>
      {{ end }}
    </div>
  </div>
</section>
<section class="section-sm bg-primary">
  <div class="container text-center">
    <h3 class="text-white">“IT IS NOT ENOUGH TO BE COMPASSIONATE. YOU MUST ACT.”</h3>
    <h6 class="text-white">–- Tenzin Gyatso, the fourteenth Dalai Lama</h6>
  </div>
</section>
<section class="section-sm">
  <div class="text-black text-center">
    <h3 class="text-black text-center">Say There Names...</h3>
      {{ .Content }}
  </div>
</section>
<!-- /allyship -->
{{ end }}